* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Noto Sans KR', fantasy;
    margin: 0;
    padding: 0;
}

.mov {position: relative; background:rgba(0,0,0,0.05); width: 1280px; height: 600px; padding-top: 30px;}
.mov h3 {position: center; color:#333; font-size: 40px; font-weight: 700; font-family: Verdana; text-align: center; margin-bottom: 50px;}

.container {position: relative; width: 1290px; margin: 0 auto; /* background:rgba(0,0,0,0.1); */ }

.container .mov {
    text-align: center;
}

.container .mov p {
    /* 영화 포스터를 한 행에 5개씩 나열하기 위해 */
    display: inline-block;
    /* 영화 포스터 간 간격 설정 */
    margin: 0 30px;
    /* 한 행에 5개씩 나열하려면 부모 요소 너비에 맞게 크기 설정 */
    width: calc(20% - 20px);
    /* 포스터 이미지에 대한 세로 정렬 */
    vertical-align: top;
}

.container .mov p img {
    /* 포스터 이미지를 요소 내부로 완전히 맞춤 */
    width: 100%;
    height: auto;
}